.title{
    font-size: larger;
}
.author{
    font-size: large;
}
.isbn{
    font-size: medium;
}
.desc{
    padding-top: 20px;
    font-size: small;
    word-wrap: normal;
}
.options{
    font-size: medium;
    text-align:right;
}
.options :hover{
    color: grey;

}
